* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    background-image: url(ed.jpg);
    width: 100%;
    font-family: montserrat;
}

.logo {
    width: 4rem;
    height: 5rem;
    margin-left: 0.8rem;
}

.nav {
    position: relative;
    background: #c8cac8;
    opacity: 0.9;
    width: 100%;
}

nav ul {
    float: right;
    margin-right: 20px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a {
    color: rgb(0, 0, 0);
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}

a:hover {
    background: #77797ab7;
    transition: .5s;
}

.checkbtn {
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

@media (max-width: 952px) {
    label.logo {
        font-size: 30px;
        padding-left: 50px;
    }
    nav ul li a {
        font-size: 16px;
    }
}

@media (max-width: 858px) {
    .checkbtn {
        display: block;
    }
    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a {
        font-size: 20px;
    }
    a:hover {
        background: none;
        color: #0082e6;
    }
    #check:checked~ul {
        left: 0;
    }
}

.head {
    margin-top: 3%;
    font-size: 2.2rem;
    color: rgb(33, 33, 131);
}

.skills-area {
    display: flex;
    flex-direction: column;
    padding: 0 10%;
}

.skill {
    position: relative;
    margin-bottom: 1rem;
}

.skill-title {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.skill-bar {
    width: 100%;
    background: rgba(255, 255, 255, 0.6);
    height: 1.5rem;
    z-index: -1;
    border-radius: 10rem;
    position: absolute;
}

.skill-fill {
    background: rgb(4, 0, 255);
    height: 1.5rem;
    border-radius: 10rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 1rem;
    overflow: hidden;
}

.skill-percent {
    font-size: 1.5rem;
}

section {
    width: 100%;
}

.html {
    animation: html 3s;
    width: 85%;
}

.css {
    animation: css 2s;
    width: 80%;
}

.js {
    animation: js 2s;
    width: 60%;
}

@keyframes html {
    from {
        width: 0;
    }
    to {
        width: 85%;
    }
}

@keyframes css {
    from {
        width: 0;
    }
    to {
        width: 80%;
    }
}

@keyframes js {
    from {
        width: 0;
    }
    to {
        width: 60%;
    }
}

.c {
    animation: c 2s;
    width: 90%;
}

.sql {
    animation: sql 3s;
    width: 80%;
}

.figma {
    animation: figma 2s;
    width: 80%;
}

@keyframes c {
    from {
        width: 0;
    }
    to {
        width: 90%;
    }
}

@keyframes sql {
    from {
        width: 0;
    }
    to {
        width: 80%;
    }
}

@keyframes figma {
    from {
        width: 0;
    }
    to {
        width: 80%;
    }
}

.corel {
    animation: corel 3s;
    width: 50%;
}

.photoshop {
    animation: photoshop 2s;
    width: 55%;
}

.illustrator {
    animation: illustrator 2s;
    width: 65%;
}

@keyframes corel {
    from {
        width: 0;
    }
    to {
        width: 50%;
    }
}

@keyframes photoshop {
    from {
        width: 0;
    }
    to {
        width: 55%;
    }
}

@keyframes illustrator {
    from {
        width: 0;
    }
    to {
        width: 65%;
    }
}

.python {
    animation: python 3s;
    width: 25%;
}

.kotlin {
    animation: kotlin 2s;
    width: 30%;
}

@keyframes python {
    from {
        width: 0;
    }
    to {
        width: 25%;
    }
}

@keyframes kotlin {
    from {
        width: 0;
    }
    to {
        width: 30%;
    }
}

@media only screen and (max-width: 750px) {
    .skills-area {
        padding: 0 5%;
    }
}